/* Light mode styles */
body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
  }
  
  #dark-mode-toggle {
    /* Customize button styles */
    background-color: #282828;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .region-selector, .username-input, .tag-input {
    margin-bottom: 10px;
  }
  
  #stats-display {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    display: none; /* Initially hide until stats are fetched */
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: #1d1d1d;
    color: #fff;
  }
  
  .dark-mode #dark-mode-toggle {
    background-color: #383838;
  }
  
  .dark-mode .region-selector,
  .dark-mode .username-input,
  .dark-mode .tag-input {
    border: 1px solid #ccc;
  }
  
  .dark-mode #stats-display {
    background-color: #282828;
    border-color: #444;
  }
  