/* Dark mode styles */
body.dark-mode {
  background-color: #1d1d1d;
  color: #fff;
}

#dark-mode-toggle {
  /* Customize button styles */
  background-color: #383838;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.region-selector, .username-input, .tag-input {
  border: 1px solid #ccc;
}

#stats-display {
  background-color: #282828;
  border: 1px solid #444;
  color: #fff;
}

footer {
  margin-top: 20px;
  color: #333;
}

footer a {
  color: #007bff;
  text-decoration: none;
}
